web/WEB-INF/wsdl/10.142.5.91_9763/services/student_took_course_DataService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://ws.wso2.org/dataservice" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="sapms.ds" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="sapms.ds">
    <wsdl:documentation></wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="sapms.ds">
            <xs:element name="update_student_took_course_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Student_kfupm_id" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="Course_course_number" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="instructor_id" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="instructor_name" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="term" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="grade" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="Course_course_code" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_with_key_student_took_course_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Student_kfupm_id" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="student_transcript" type="ns0:student_transcript"></xs:element>
            <xs:complexType name="student_transcript">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="student_took_course" type="ns0:student_took_course"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="student_took_course">
                <xs:sequence>
                    <xs:element name="Student_kfupm_id" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="Course_course_code" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="Course_course_number" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="instructor_id" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="instructor_name" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="term" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="grade" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="insert_student_took_course_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Student_kfupm_id" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="Course_course_code" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="Course_course_number" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="instructor_id" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="instructor_name" nillable="true" type="xs:string"></xs:element>
                        <xs:element name="term" nillable="true" type="xs:int"></xs:element>
                        <xs:element name="grade" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="select_all_student_took_course_operation">
                <xs:complexType>
                    <xs:sequence></xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="student_took_courseCollection" type="ns0:student_took_courseCollection"></xs:element>
            <xs:complexType name="student_took_courseCollection">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="student_took_course" type="ns0:student_took_course2"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="student_took_course2">
                <xs:sequence>
                    <xs:element name="Student_kfupm_id" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="Course_course_code" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="Course_course_number" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="instructor_id" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="instructor_name" nillable="true" type="xs:string"></xs:element>
                    <xs:element name="term" nillable="true" type="xs:integer"></xs:element>
                    <xs:element name="grade" nillable="true" type="xs:string"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="delete_student_took_course_operation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Course_course_code" nillable="true" type="xs:string"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://ws.wso2.org/dataservice">
            <xs:element name="DataServiceFault" type="xs:string"></xs:element>
            <xs:element name="REQUEST_STATUS" type="xs:string"></xs:element>
            <xs:element name="DATA_SERVICE_RESPONSE">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any minOccurs="0"></xs:any>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="insert_student_took_course_operationRequest">
        <wsdl:part name="parameters" element="ns0:insert_student_took_course_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_student_took_course_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_all_student_took_course_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_all_student_took_course_operationResponse">
        <wsdl:part name="parameters" element="ns0:student_took_courseCollection"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="DataServiceFault">
        <wsdl:part name="parameters" element="ns1:DataServiceFault"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_student_took_course_operationRequest">
        <wsdl:part name="parameters" element="ns0:select_with_key_student_took_course_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="select_with_key_student_took_course_operationResponse">
        <wsdl:part name="parameters" element="ns0:student_transcript"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="update_student_took_course_operationRequest">
        <wsdl:part name="parameters" element="ns0:update_student_took_course_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="delete_student_took_course_operationRequest">
        <wsdl:part name="parameters" element="ns0:delete_student_took_course_operation"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="student_took_course_DataServicePortType">
        <wsdl:operation name="insert_student_took_course_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:insert_student_took_course_operationRequest" wsaw:Action="urn:insert_student_took_course_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_student_took_course_operation">
            <wsdl:documentation>Selects the student transcript</wsdl:documentation>
            <wsdl:input message="ns0:select_all_student_took_course_operationRequest" wsaw:Action="urn:select_all_student_took_course_operation"></wsdl:input>
            <wsdl:output message="ns0:select_all_student_took_course_operationResponse" wsaw:Action="urn:select_all_student_took_course_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_all_student_took_course_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_student_took_course_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:select_with_key_student_took_course_operationRequest" wsaw:Action="urn:select_with_key_student_took_course_operation"></wsdl:input>
            <wsdl:output message="ns0:select_with_key_student_took_course_operationResponse" wsaw:Action="urn:select_with_key_student_took_course_operationResponse"></wsdl:output>
            <wsdl:fault message="ns0:DataServiceFault" name="DataServiceFault" wsaw:Action="urn:select_with_key_student_took_course_operationDataServiceFault"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_student_took_course_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:update_student_took_course_operationRequest" wsaw:Action="urn:update_student_took_course_operation"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_student_took_course_operation">
            <wsdl:documentation></wsdl:documentation>
            <wsdl:input message="ns0:delete_student_took_course_operationRequest" wsaw:Action="urn:delete_student_took_course_operation"></wsdl:input>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="student_took_course_DataServiceSOAP11Binding" type="ns0:student_took_course_DataServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <wsdl:operation name="insert_student_took_course_operation">
            <soap:operation soapAction="urn:insert_student_took_course_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_student_took_course_operation">
            <soap:operation soapAction="urn:select_all_student_took_course_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_student_took_course_operation">
            <soap:operation soapAction="urn:select_with_key_student_took_course_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"></soap:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap:fault use="literal" name="DataServiceFault"></soap:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_student_took_course_operation">
            <soap:operation soapAction="urn:update_student_took_course_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_student_took_course_operation">
            <soap:operation soapAction="urn:delete_student_took_course_operation" style="document"></soap:operation>
            <wsdl:input>
                <soap:body use="literal"></soap:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="student_took_course_DataServiceSOAP12Binding" type="ns0:student_took_course_DataServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
        <wsdl:operation name="insert_student_took_course_operation">
            <soap12:operation soapAction="urn:insert_student_took_course_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_student_took_course_operation">
            <soap12:operation soapAction="urn:select_all_student_took_course_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_student_took_course_operation">
            <soap12:operation soapAction="urn:select_with_key_student_took_course_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"></soap12:body>
            </wsdl:output>
            <wsdl:fault name="DataServiceFault">
                <soap12:fault use="literal" name="DataServiceFault"></soap12:fault>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="update_student_took_course_operation">
            <soap12:operation soapAction="urn:update_student_took_course_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_student_took_course_operation">
            <soap12:operation soapAction="urn:delete_student_took_course_operation" style="document"></soap12:operation>
            <wsdl:input>
                <soap12:body use="literal"></soap12:body>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="student_took_course_DataServiceHttpBinding" type="ns0:student_took_course_DataServicePortType">
        <http:binding verb="POST"></http:binding>
        <wsdl:operation name="insert_student_took_course_operation">
            <http:operation location="insert_student_took_course_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="select_all_student_took_course_operation">
            <http:operation location="select_all_student_took_course_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="select_with_key_student_took_course_operation">
            <http:operation location="select_with_key_student_took_course_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update_student_took_course_operation">
            <http:operation location="update_student_took_course_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete_student_took_course_operation">
            <http:operation location="delete_student_took_course_operation"></http:operation>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"></mime:content>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="student_took_course_DataService">
        <wsdl:port name="SOAP11Endpoint" binding="ns0:student_took_course_DataServiceSOAP11Binding">
            <soap:address location="http://10.142.5.91:9763/services/student_took_course_DataService.SOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP11Endpoint" binding="ns0:student_took_course_DataServiceSOAP11Binding">
            <soap:address location="https://10.142.5.91:9443/services/student_took_course_DataService.SecureSOAP11Endpoint/"></soap:address>
        </wsdl:port>
        <wsdl:port name="SecureSOAP12Endpoint" binding="ns0:student_took_course_DataServiceSOAP12Binding">
            <soap12:address location="https://10.142.5.91:9443/services/student_took_course_DataService.SecureSOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="SOAP12Endpoint" binding="ns0:student_took_course_DataServiceSOAP12Binding">
            <soap12:address location="http://10.142.5.91:9763/services/student_took_course_DataService.SOAP12Endpoint/"></soap12:address>
        </wsdl:port>
        <wsdl:port name="HTTPEndpoint" binding="ns0:student_took_course_DataServiceHttpBinding">
            <http:address location="http://10.142.5.91:9763/services/student_took_course_DataService.HTTPEndpoint/"></http:address>
        </wsdl:port>
        <wsdl:port name="SecureHTTPEndpoint" binding="ns0:student_took_course_DataServiceHttpBinding">
            <http:address location="https://10.142.5.91:9443/services/student_took_course_DataService.SecureHTTPEndpoint/"></http:address>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>